body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background:url(im1.png)
    no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
}
nav {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    backdrop-filter: blur(6px);
}
.git {
    margin-top: 80px;
}
h1 {
    font-size: 48px;
    margin-bottom: 10px;
}
p {
    font-size: 20px;
    opacity: 0.8;
    color: coral;
}


