body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background:url(im1.png)
    no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

nav {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    backdrop-filter: blur(6px);
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.git {
    margin-top: 80px;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    opacity: 0.8;
    color: coral;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background:white;
    border:none;
    border-radius:6px;
    font-size:18px;
    cursor:pointer;
}

button:hover {
    background:#ddd;
}
.contact-form input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.5); 
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2); 
    color: white; 
}

.contact-form input::placeholder {
    color: rgba(255, 255, 255, 0.7); 
}

.contact-form button {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.3); 
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: rgba(255, 255, 255, 0.5); 
}





